<h3>New Book</h3>

<p *ngIf="isFormSubmitted" [ngClass]="'success'">
    Form Submitted Successfully
</p>

<form [formGroup]="bookForm" (ngSubmit)="onFormSubmitted()">
    Name:<br>
    <input type="text" formControlName="name" (keyup)="onNameChange()">
    <span *ngIf="name.errors && isValidFormSubmitted != null" [ngClass] ="'error'" >
        
        <span *ngIf="name.errors.required">Name Required</span>
        
    </span><br>
    Price:<br>
    <input type="text" formControlName="price" (change)="onPriceChange()">
    <span *ngIf="price.errors && isValidFormSubmitted !=null" [ngClass] ="'error'" >
        
        <span *ngIf="price.errors.required">Price Required</span>

    </span><br>
    <button type="submit">Add</button>
</form>